<div class="card hoverable">
  <div class="card-content">
    <span class="card-title">Titulo</span>
    <div class="divider"></div>
    
    <p class="red-text">Linguagem</p>
    <p class="green-text">Localização</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum urna non enim semper, a convallis dolor malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    
    <br/>
    <div class="divider"></div>
    <br/>
    
    <a href="#" class="waves-effect waves-light btn">Mais detalhes</a>
  </div>
</div>