.search:focus {
    background-color: #fff !important;
    color: #000 !important;
}

.logo-title {
    @media screen and (max-width: 440px) {
        font-size: 22px;
    }

    @media screen and (max-width: 320px) {
        font-size: 18px;
    }
}

.search-sidenav {
    width: 245px !important;
}