<div class="page-footer teal">
  <div class="container">
    <div class="copyright">
      <b>
        Criado com 
        <i class="material-icons copyright-icon">favorite</i>
        no
        <a href="http://onebitcode.com/bootcamp-one-bit-code/" class="copyright-link"> Bootcamp OneBitCode</a>
      </b>
    </div>
  </div>
</div>